:root {
    --font : "Atkinson Hyperlegible Mono";
    --callToActionButtom: #ff3;
    --size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--font);
    margin: calc(var(--size)*0);
    padding: calc(var(--size)*0);
}

h3,H4 {
    border-bottom: solid calc(var(--size) * 0.1) black;
}

.homeBar {
    display: inherit;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    padding: calc(var(--size) * 0.2) calc(var(--size) * 5);
}

/* DARK/LIGHT mode button */
#schemeMode{
    height: fit-content;
}

.homeMenu {
    display: inherit;
    flex-direction: row;
    justify-content: inherit;
    justify-items: inherit;
    align-items: inherit;
    list-style: none;
    gap: calc(var(--size) * 2);
}

main{
    display: inherit;
    flex-direction: row;
    padding: calc(var(--size) * 5);
    justify-content: space-between;

    & .collumn{
        align-content: center;
        justify-items: center;
    }

    & #callToAction{
        border-radius: calc(var(--size) * 2);
        padding: var(--size);
        border: calc(var(--size) * 0);
        background-color: var(--callToActionButtom);
    }
}

.aboutMe, .project, .contact{
    margin: calc(var(--size) * 2) calc(var(--size) * 5);
    padding: 0 calc(var(--size) * 2) var(--size);
    border: calc(var(--size) * 0.1) solid;
    border-radius: calc(var(--size) * 2.5);
}

.projectItem{
    margin: 0 calc(var(--size) * 5);
}

.contactItems{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    gap: var(--size);

    /* Links in ContactItems */
    & a{
        display: inherit;
        gap: inherit;
    }
}

footer{
    display: flex;
    justify-content: center;
    margin: var(--size);
}