:root {
    --font: "Atkinson Hyperlegible Mono";
    --fontSize: 10px;
    --siteBackground: #121420;
    --tabs: #2C2B3C;
    --sectionBackground: #1b2432;
    --callToActionButtom: #ff3;
    --details: #ffffff;
    --text: #ffffff;
}

html {
    scroll-behavior: smooth;
    color: var(--text);
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--font);
    margin: calc(var(--fontSize)*0);
    /*0*/
    padding: calc(var(--fontSize)*0);
    /*0*/
    background-color: var(--siteBackground);
}

a {
    color: var(--text);
    text-decoration: none;
}

h3,
h4 {
    border-bottom: solid calc(var(--fontSize) * 0.1) var(--details);
}

.homeBar {
    display: inherit;
    align-items: center;
    justify-content: space-between;
    background-color: var(--tabs);
    padding: calc(var(--fontSize) * 0.2) calc(var(--fontSize) * 5);
}

.homeMenu {
    display: inherit;
    list-style: none;
    gap: calc(var(--fontSize) * 2);
}

.homeMenua:hover {
    text-shadow: 0 0 10px var(--details);
    text-decoration: none;
}

main {
    display: inherit;
    justify-content: center;
    padding: calc(var(--fontSize) * 5);
    gap: calc(var(--fontSize) * 5);

    /* Separation between img and Button & Header */
    .collumn {
        align-content: center;
        justify-items: center;

        /* Header of Main */
        & h1 {
            text-align: center;
        }

        #callToAction {
            border-radius: calc(var(--fontSize) * 2);
            padding: var(--fontSize);
            border: calc(var(--fontSize) * 0);
            background-color: var(--callToActionButtom);
        }

        #callToAction:hover {
            box-shadow: 0 0 10px var(--callToActionButtom);
        }
    }

    img {
        border-radius: 50%;
    }
}

.aboutMe,
.knownLang,
.projects,
.project,
.contact {
    align-self: center;
    background-color: var(--sectionBackground);
    width: calc(var(--fontSize) * 50);
    margin: calc(var(--fontSize) * 2) calc(var(--fontSize) * 5);
    padding: 0 calc(var(--fontSize) * 2) var(--fontSize);
    border-radius: calc(var(--fontSize) * 2.5);
    box-shadow: 0 0 20px var(--sectionBackground);
}

.project p {
    margin: 5px 0px;
}

.aboutMe>p {
    padding: 0 calc(var(--fontSize) * 5);
}

.projectItem,
.knownLang {
    margin: 0 calc(var(--fontSize) * 5);
}

.projectItem {
    & a:hover {
        text-shadow: 0 0 10px var(--text);
    }
}

.knownLang>ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0px 50px;

    & li:hover {
        text-shadow: 0 0 10px var(--details);
    }
}

.contactItems {
    display: flex;
    flex-direction: column;

    /* Links in ContactItems */
    & a {
        display: inherit;
        flex-direction: row;
        align-items: center;
        gap: calc(var(--fontSize));
        margin: calc(var(--fontSize) * 0) calc(var(--fontSize) * 5);

        & svg {
            width: 30px;
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(var(--fontSize) * 0.5) 0 calc(var(--fontSize) * 1);
    background-color: var(--tabs);
}