:root {
    --font: "Atkinson Hyperlegible Mono";
    --fontSize: 1rem;
    --siteBackground: #121420;
    --tabs: #2C2B3C;
    --sectionBackground: #1b2432;
    --callToActionButtom: #ff3;
    --details: #ffffff;
    --text: #ffffff;
}

html {
    scroll-behavior: smooth;
    color: var(--text);
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--font);
    width: auto;
    margin: 0;
    /*0*/
    padding: 0;
    /*0*/
    background-color: var(--siteBackground);
}

a {
    color: var(--text);
    text-decoration: none;
}

h3,
h4 {
    border-bottom: solid calc(var(--fontSize) * 0.1) var(--details);
}

.homeBar {
    display: inherit;
    align-items: center;
    justify-content: right;
    background-color: var(--tabs);
    padding: 10px min(13em, 2%);
    /*2px 50px */
}

.homeMenu {
    display: inherit;
    list-style: none;
    gap: calc(var(--fontSize) * 2);
}

.homeMenua:hover {
    text-shadow: 0 0 10px var(--details);
    text-decoration: none;
}

main {
    display: inherit;
    justify-content: center;
    padding: min(calc(var(--fontSize) * 3.125), 10%);
    gap: calc(var(--fontSize) * 3.125);

    /* Separation between img and Button & Header */
    .collumn {
        align-content: center;
        justify-items: center;

        /* Header of Main */
        & h1 {
            text-align: center;
        }

        #callToAction {
            border-radius: calc(var(--fontSize) * 1.4);
            padding: var(--fontSize);
            border: calc(var(--fontSize) * 0);
            background-color: var(--callToActionButtom);
        }

        #callToAction:hover {
            box-shadow: 0 0 0.8em var(--callToActionButtom);
        }
    }

    img {
        border-radius: min(20em, 50%);
    }
}

.aboutMe,
.knownLang,
.projects,
.project,
.contact {
    align-self: center;
    background-color: var(--sectionBackground);
    width: min(calc(var(--fontSize) * 31.4), 70%);
    margin: calc(var(--fontSize) * 0.5) calc(var(--fontSize) * 0.2);
    padding: 0 calc(var(--fontSize) * 2) var(--fontSize);
    border-radius: calc(var(--fontSize) * 2.5);
    box-shadow: 0 0 20px var(--sectionBackground);
}

.project p {
    margin: 5px 0px;
}

.aboutMe>p {
    margin: 0 0 0 calc(var(--fontSize) * 1.25);
    /*l b r t*/
}

.projectItem {
    margin: 0 0 0 calc(var(--fontSize) * 1.25);
    /*l b r t*/
}

.projectItem {
    a {
        margin-left: 25px;
    }
    & a:hover {
        text-shadow: 0 0 10px var(--text);
    }
}

.knownLang>ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0 1em;

    & li:hover {
        text-shadow: 0 0 10px var(--details);
    }
}

.contactItems {
    display: flex;
    flex-direction: column;
    height: fit-content;

    /* Links in ContactItems */
    & a {
        display: inherit;
        flex-direction: row;
        align-items: center;
        gap: calc(var(--fontSize));
        margin: 0 0 0 calc(var(--fontSize) * 1.25);
        /*l b r t*/

        & svg {
            width: 30px;
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(var(--fontSize) * 0.5) 0 calc(var(--fontSize) * 1);
    background-color: var(--tabs);
}

@media (max-width: 520px) {
    .contactItems {
        flex-direction: row;
        justify-content: space-evenly;

        a {
            margin: 0;
        }

        .bi {
            height: 80%;
        }

        p {
            display: none;
        }
    }

}


@media (max-width: 425px) {
    main {
        img {
            display: none;
        }
    }
}


@media (max-width: 380px) {

    .knownLang{
        ul{
            display: grid;
            gap: 0.25rem;
            grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
        }
    }

}